@import '../../style/_variables';

.card {
    margin: calc($spacing-20 + $spacing-15) auto;   

    &__header {
        display: flex;
        flex-direction: column;
        width: 350px;

        background-color: $bg-light-purple;
        border-radius: $border-radius-sm;

        padding: $spacing-10 $spacing-20;
        margin: 0 auto 10% auto;

        &::first-letter {
            text-transform: uppercase;
        }    

        &-pokemon-type {    
            margin: $spacing-15 auto;

            &-text {
                background-color: $bg-light-yellow;                
                                               
                border-radius: $border-radius-sm;
                padding: 5px;
                
                &:not(:first-child) {
                    margin-left: $spacing-15;
                }
            }
        }   

        &-img {
            width: 55%;            
            align-self: center;

            filter: drop-shadow(0 0 0.75rem rgba(164, 101, 101, 0.781));
        }       
        
    }

    &__content {        
        &-list {            
            &-label {
                color: red;           
            }

            &-container {
                width: 80%;                
                margin: 0 auto $spacing-40 auto;
            }
            
            &-item { 
                display: block;
                margin: $spacing-20 12px auto $spacing-20;
             
                border-bottom: 1px solid #ccc;                

                &:hover {
                    background-color: rgba(204, 204, 204, 0.464);
                    transition: 1s ease-in-out;
                    padding: 0 $spacing-10;
                }
                                  
            }
        }
    }    
}