@import '../../css/variables.scss';

.card {
    margin: calc($spacing-20 + $spacing-15) auto;   

    .container {
        margin-bottom: $spacing-40;
    }

    &__header {  
        height: 222px;
        width: 320px;

        background-color: rgb(226 0 255 / 19%);
        border-radius: $border-radius-sm;

        padding: $spacing-20;
        margin-bottom: calc($spacing-40 + $spacing-10); 

        &::first-letter {
            text-transform: uppercase;
        }    

        &-pokemon-type {    
            margin: $spacing-15 auto;

            &-text {
                background-color: rgb(255 242 0 / 57%);                
                                               
                border-radius: $border-radius-sm;
                padding: 5px;
                
                &:not(:first-child) {
                    margin-left: $spacing-15;
                }
            }
        }

        &-img {
            width: 60%;
            margin-bottom: $spacing-40;

            filter: drop-shadow(0 0 0.75rem rgba(164, 101, 101, 0.781));
        }
    }

    &__content {        
        &-list {            
            &-label {
                color: red;           
            }
            
            &-item { 
                display: block;
                margin: $spacing-20 12px auto $spacing-20;
             
                border-bottom: 1px solid #ccc;
                width: 30%;

                &:hover {
                    background-color: rgba(204, 204, 204, 0.464);
                    transition: 1s ease-in-out;
                    padding: 0 $spacing-10;
                }
                                  
            }
        }
    }
}