@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import '../../style/_variables';

.header {
  font-family: 'Poppins', sans-serif;

  margin: $spacing-20 auto 0 auto;
  padding: $spacing-20;

  &__title {
    font-weight: 300;
    width: 200px;
  }

  &__subtitle {
    font-weight: 200;
  }
}