$spacing-40: 40px;
$spacing-20: 20px;
$spacing-15: 15px;
$spacing-10: 10px;

$border-radius-sm: 8px;

$bg-yellow-base: rgb(255, 242, 0);
$bg-light-yellow:  rgb(255 242 0 / 57%);
$bg-medium-purple: rgba(225, 0, 255, 0.46);
$bg-light-purple: rgb(226 0 255 / 19%);